[submodule "jquery-bs-alerts"]
	path = jquery-bs-alerts
	url = https://github.com/eltimn/jquery-bs-alerts.git
[submodule "jquery-bs-formalerts"]
	path = jquery-bs-formalerts
	url = https://github.com/eltimn/jquery-bs-formalerts.git
