<html>
  <div class="row" id="ang-demo-success">
    <div class="span6">
      <p>
        This demonstrates the use of AjaxCallbackAnonFunc to pass an anonymous function
        to a JavaScript module that calls a () => JsCmd function on the server. The returned
        JsCmd is then executed on the client.
      </p>
      <p>
        This just sends a success notice back to the client.
      </p>
      <button ng-click="sendSuccess()" class="btn">Call server function</button>
    </div>
    <div class="span6"></div>
  </div>
</html>
